
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.clearfix::after {
  content: " ";
  clear: both;
  display: block;
}

body {
  overflow-x: hidden;
  font-family: 'montserratbold';
}

.header {
  height: 700px;
  background-color: hsla(225, 50%, 50%, 0.5);
  background: url(../img/header_img.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

.header__buttons {
  width: 86%;
  padding: 40px 0% 0px 6.2%;
}

.header__buttons__name {
  color: white;
  display: inline-block;
  font-size: 21px;
  float: left;
  margin: 7px 0% 0px 0.1%;
}

.header__buttons a {
  text-decoration: none;
  color: white;
}

.header__buttons__login {
  display: inline-block;
  margin: 10px 1.7% 0px 1%;
  font-size: 14px;
  float: right;
}

.header__buttons__signin {
  display: inline-block;
  padding: 9px 2% 9px 2.5%;
  margin: -2px 0.5% 0px 1%;
  border: 3px solid white;
  margin-left: 1%;
  border-radius: 25px;
  font-size: 14px;
  float: right;
}

.header__buttons__name__mobile {
  display: none;
}

.header__title {
  margin: 143px 15% 20px 13%;
  color: white;
  font-size: 52px;
  text-align: center;
  line-height: 60px;
  letter-spacing: -0.0px;
}

.header__subtitle {
  margin: 27px 22% 20px 20%;
  color: white;
  font-size: 24px;
  text-align: center;
  font-family: 'robotolight';
  line-height: 24px;
}

.header__button {
  margin: 49px 0% 76px 0%;
}

.header__button__search {
  margin: 0px 0% 0px 34%;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 10px 2.8% 10px 2.5%;
  border: 1px solid #ff4e50;
  border-radius: 25px;
  background-color: #ff4e50;
  text-decoration: none;
}

.working {
  padding: 50px 0% 0px 0%;
}

.working__title {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 46px 9% 20px 31%;
  font-size: 22px;
}

.working__steps {
  margin: 16px 0% 0px 0%;
}

.pictures_for_desktop,
.pictures_for_mobile {
  display: none;
}

.working__steps__step1,
.working__steps__step2,
.working__steps__step3 {
  float: left;
  position: relative;
}

.working__steps__step1__slide2,
.working__steps__step1__slide3,
.working__steps__step2__slide2,
.working__steps__step2__slide3,
.working__steps__step3__slide2,
.working__steps__step3__slide3 {
  display: none;
} 

.working__steps__step1 .working__steps__step1__slide2 span,
.working__steps__step3 .working__steps__step3__slide3 span {
  top: 337px;
}

.working__steps__step1 .working__steps__step1__slide2 p,
.working__steps__step3 .working__steps__step3__slide3 p {
  top: 298px;
}

.working__steps__step2 .working__steps__step2__slide2 p,
.working__steps__step2 .working__steps__step2__slide3 p {
  top: 250px;
}

.working__steps__step2 .working__steps__step2__slide2 span,
.working__steps__step2 .working__steps__step2__slide3 span {
  top: 319px;
}

.pictures_for_tablet {
  display: inline-block;
}

.working__steps__step1 {
  margin: 0px 0% 0px 1.2%;
  width: 30.3%;
}

.working__steps__step1__picture {
  width: 100%;
  height: 400.75px;
}

.working__steps__step2 {
  margin: 0px 0% 0px 2.5%;
  width: 30.3%;
}

.working__steps__step2__picture {
  width: 100%;
  height: 400.75px;
}

.working__steps__step3 {
  margin: 0px 0% 0px 2.5%;
  width: 30.3%;
}

.working__steps__step3__picture {
  width: 100%;
  height: 400.75px;
}

.working__steps__step1__div,
.working__steps__step2__div,
.working__steps__step3__div,
.working__steps div p,
.working__steps div span {
  position: absolute;
  color: white;
}

.working__steps__step1__left_arrow {
  position: absolute;
  left: 9%;
  top: 40px;
}

.working__steps__step1__right_arrow {
  position: absolute;
  left: 78%;
  top: 40px;
}

.working__steps__step1__div {
  left: 10%;
  top: 213px;
  font-family: 'montserratregular';
  letter-spacing: 2px;
  font-size: 10px;
  padding: 5px 4% 4.5px 4.3%;
  background-color: #ff4e50;
  border: 1px solid #ff4e50;
  border-radius: 12px;
}

.working__steps__step1 p {
  left: 7.5%;
  top: 250px;
  font-size: 24px;
  line-height: 28px;
}

.working__steps__step1 span {
  left: 8%;
  top: 319px;
  font-family: 'robotolight';
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.2px;
}

.working__steps__step2__left_arrow {
  position: absolute;
  left: 4%;
  top: 40px;
}

.working__steps__step2__right_arrow {
  position: absolute;
  left: 83%;
  top: 40px;
}

.working__steps__step2__div {
  left: 9.5%;
  top: 260px;
  font-family: 'montserratregular';
  letter-spacing: 2px;
  font-size: 10px;
  padding: 5px 3.5% 4.5px 4.3%;
  background-color: #ff4e50;
  border: 1px solid #ff4e50;
  border-radius: 12px;
}

.working__steps__step2 p {
  left: 8%;
  top: 298px;
  font-size: 24px;
}

.working__steps__step2 span {
  left: 8.5%;
  top: 337px;
  font-family: 'robotolight';
  font-size: 14px;
  line-height: 15.5px;
  letter-spacing: 0.25px;
}

.working__steps__step3__left_arrow {
  position: absolute;
  left: 9%;
  top: 40px;
}

.working__steps__step3__right_arrow {
  position: absolute;
  left: 78%;
  top: 40px;
}

.working__steps__step3__div {
  left: 10%;
  top: 213px;
  font-family: 'montserratregular';
  letter-spacing: 2px;
  font-size: 10px;
  padding: 5px 4% 4.5px 4.3%;
  background-color: #ff4e50;
  border: 1px solid #ff4e50;
  border-radius: 12px;
}

.working__steps__step3 p {
  left: 7.5%;
  top: 250px;
  font-size: 24px;
  line-height: 28px;
}

.working__steps__step3 span {
  left: 8%;
  top: 319px;
  font-family: 'robotolight';
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.2px;
}

.partners {
  text-align: center;
}

.partners__title {
  margin: 50px 0% 30px 0%;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  display: inline-block;
  padding: 46px 24% 0px 21.6%;

}

.partners__container {
  margin: 0px 10.9% 0px 10.9%;
}

.partners__container__partner1 {
  width: 35%;
  margin: 5px 5% 5px 10.5%;
}

.partners__container__partner1__name {
  font-size: 14px;
  margin: 18px 0% 17px 0%;
}

.partners__container__partner1__slogan {
  font-size: 14px;
  margin: 5px 0% 5px -1%;
  font-family: 'robotolight';
}

.partners__container__partner2 {
  width: 37%;
  margin: 5px 0% 5px 1%;
}

.partners__container__partner2__name {
  font-size: 14px;
  margin: 18px 0% 17px 0%;
}

.partners__container__partner2__slogan {
  font-size: 14px;
  margin: 5px 0% 5px -1%;
  font-family: 'robotolight';
}

.partners__container__partner3 {
  width: 35%;
  margin: 47px 0% 5px 10.5%;
}

.partners__container__partner3__name {
  font-size: 14px;
  margin: 18px 0% 17px 0%;
}

.partners__container__partner3__slogan {
  font-size: 14px;
  margin: 5px 0% 5px -1%;
  font-family: 'robotolight';
  line-height: 16px;
}

.partners__container__partner4 {
  width: 32%;
  margin: 47px 0% 5px 8.5%;
}

.partners__container__partner4__name {
  font-size: 14px;
  margin: 18px 0% 17px 0%;
}

.partners__container__partner4__slogan {
  font-size: 14px;
  margin: 5px 0% 5px -1%;
  font-family: 'robotolight';
}

.partners__container__partner1,
.partners__container__partner2,
.partners__container__partner3,
.partners__container__partner4 {
  float: left;
}

.partners__button {
  margin: 39px 0% 37px -5%;
}

.partners__button__search {
  margin: 0px 25% 0px 27.8%;
  color: #ff4e50;
  font-size: 14px;
  text-align: center;
  padding: 10px 3.3% 10px 3.3%;
  border: 1px solid #ff4e50;
  border-radius: 25px;
  text-decoration: none;
}

.ideas__title {
  margin: 112px 0% 26px -1.5%;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.grid {
   margin: 0px 10.9% 0px 10.9%;
   height: 990px!important;
}

.grid-item {
   display: inline-block;
   width: 21%;
   margin: 5px 1%;
   height: 180px;
   list-style: none;
   position: relative;  
}

.grid-item img {
  width: 100%;
  height: 180px;
}

.grid-item p {
  position: absolute;
  top: 50%;
  left: 40%;
  color: white;
}

.search__title {
  margin: 87.5px 27% 20px 24.7%;
  font-size: 22px;
  text-align: center;
}

.search__subtitle {
  margin: 36px 27% 20px 24.8%;
  font-size: 18px;
  text-align: center;
  font-family: 'robotolight';
  letter-spacing: 0.3px;
}

.search__form {
  margin: 41px 0% 102px -4.6%;
}

.search__form__input {
  width: 28.6%;
  height: 30px;
  font-size: 14px;
  font-family: 'robotolight';
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  text-indent: 12px;
  margin: 0px 1% 0px 26.3%;
}

.search__form__button {
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 10px 2.9% 10px 2.9%;
  margin: 0px 0% 0px 0%;
  border: 1px solid #ff4e50;
  border-radius: 25px;
  background-color: #ff4e50;
  text-decoration: none;
  letter-spacing: 0.8px;
}

footer {
  border-top: 3px solid #ff4e50;
}

.footer {
   margin: 20px 0% 0px 4.9%;
}

.footer__column1,
.footer__column2,
.footer__column3 {
  float: left;
}

.footer__logo {
  float: right;
  margin: 15px 0% 0px 0%;
}

.footer__logo p {
  display: inline-block;
  color: #cccccc;
  font-size: 10px;
  margin: 0px 0% 0px 32%;
  letter-spacing: 0.9px;
}

.footer__logo img {
  margin: 7px 5% 0px 16%;
}

.footer__column1 {
  margin: 18px 2% 0px 0%;
  color: #ff4e50;
  font-size: 16px;
  letter-spacing: 1px;
}

.footer__column2 {
  margin: 20px 2% 0px 9%;
  font-size: 14px;
}

.footer__column2__item {
  margin: 15px 0% 10px 0%;
  font-family: 'robotolight';
}

.footer__column2__item:nth-child(3),
.footer__column2__item:nth-child(4),
.footer__column2__item:nth-child(5) {
  margin-top: 7px;
}

.footer__column2__item a {
  text-decoration: none;
  color: black;
}

.footer__column3 {
  margin: 20px 2% 0px 12%;
  font-size: 14px;
}
