
footer {
  border-top: 3px solid #ff4e50;
}

.footer {
   margin: 20px 0% 0px 4.9%;
}

.footer__column1,
.footer__column2,
.footer__column3 {
  text-align: center;
}

.footer__logo {
  margin: 10px 0% 0px 0%;
}

.footer__logo p {
  display: inline-block;
  color: #cccccc;
  font-size: 10px;
  margin: 0px 0% 0px 34%;
  letter-spacing: 0.9px;
}

.footer__logo img {
  margin: 7px 5% 0px 29%;
}

.footer__column1 {
  margin: 18px 2% 0px -3%;
  color: #ff4e50;
  font-size: 16px;
  letter-spacing: 1px;
}

.footer__column2 {
  margin: 14px 2% 0px -3.5%;
  font-size: 14px;
}

.footer__column2__item {
  margin: 5px 0% 3px 18%;
  font-family: 'robotolight';
  float: left;
}

.footer__column2__item:nth-child(3),
.footer__column2__item:nth-child(4),
.footer__column2__item:nth-child(5) {
  margin: 5px 0% 3px 4.5%;
}

.footer__column2__item a {
  text-decoration: none;
  color: black;
}

.footer__column3 {
  margin: 15px 2% 0px -4%;
  font-size: 14px;
}
