
.working {
  padding: 32px 0% 0px 0%;
}

.working__title {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 5px 0% 0px 5%;
  font-size: 22px;
}

.working__steps {
  margin: 16px 0% 0px 0%;
}

.working__steps__step1,
.working__steps__step2,
.working__steps__step3 {
  float: left;
  position: relative;
}

.working__steps__step1__slide2,
.working__steps__step1__slide3,
.working__steps__step2__slide2,
.working__steps__step2__slide3,
.working__steps__step3__slide2,
.working__steps__step3__slide3 {
  display: none;
}

.pictures_for_tablet,
.pictures_for_desktop {
  display: none;
}

.pictures_for_mobile {
  display: inline-block;
}

.working__steps__step1 {
  margin: 1px 0% 0px 3.2%;
  width: 93.5%;
}

.working__steps__step1__picture {
  width: 100%;
  height: 239px;
}

.working__steps__step2 {
  margin: 9px 0% 0px 3.1%;
  width: 94.1%;
}

.working__steps__step2__picture {
  width: 100%;
  height: 237.75px;
}

.working__steps__step3 {
  margin: 9px 0% 0px 3.5%;
  width: 93.3%;
}

.working__steps__step3__picture {
  width: 100%;
  height: 237.75px;
}

.working__steps__step1__div,
.working__steps__step2__div,
.working__steps__step3__div,
.working__steps div p,
.working__steps div span {
  position: absolute;
  color: white;
}

.working__steps__step1__left_arrow {
  display: none;
}

.working__steps__step1__right_arrow {
  display: none;
}

.working__steps__step1__div {
  left: 8%;
  top: 68px;
  font-family: 'montserratregular';
  letter-spacing: 2px;
  font-size: 10px;
  padding: 6px 4% 4.5px 4%;
  background-color: #ff4e50;
  border: 1px solid #ff4e50;
  border-radius: 12px;
}

.working__steps__step1 p {
  left: 7%;
  top: 106px;
  font-size: 24px;
  line-height: 28px;
}

.working__steps__step1 span {
  left: 7%;
  top: 174px;
  font-family: 'robotolight';
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.2px;
}

.working__steps__step2__left_arrow {
  display: none;
}

.working__steps__step2__right_arrow {
  display: none;
}

.working__steps__step2__div {
  left: 7%;
  top: 99px;
  font-family: 'montserratregular';
  letter-spacing: 2px;
  font-size: 10px;
  padding: 5px 3.5% 4.5px 4.3%;
  background-color: #ff4e50;
  border: 1px solid #ff4e50;
  border-radius: 12px;
}

.working__steps__step2 p {
  left: 6.5%;
  top: 137px;
  font-size: 24px;
}

.working__steps__step2 span {
  left: 7%;
  top: 174px;
  font-family: 'robotolight';
  font-size: 14px;
  line-height: 15.5px;
  letter-spacing: 0.25px;
}

.working__steps__step3__left_arrow {
  display: none;
}

.working__steps__step3__right_arrow {
  display: none;
}

.working__steps__step3__div {
  left: 7%;
  top: 68px;
  font-family: 'montserratregular';
  letter-spacing: 2px;
  font-size: 10px;
  padding: 5px 4% 4.5px 4.3%;
  background-color: #ff4e50;
  border: 1px solid #ff4e50;
  border-radius: 12px;
}

.working__steps__step3 p {
  left: 6.5%;
  top: 106px;
  font-size: 24px;
  line-height: 28px;
}

.working__steps__step3 span {
  left: 6%;
  top: 174px;
  font-family: 'robotolight';
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.2px;
}

