
.working {
  padding: 50px 0% 0px 0%;
}

.working__title {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 46px 9% 20px 31%;
  font-size: 22px;
}

.working__steps {
  margin: 16px 0% 0px 0%;
}

.pictures_for_desktop,
.pictures_for_mobile {
  display: none;
}

.working__steps__step1,
.working__steps__step2,
.working__steps__step3 {
  float: left;
  position: relative;
}

.working__steps__step1__slide2,
.working__steps__step1__slide3,
.working__steps__step2__slide2,
.working__steps__step2__slide3,
.working__steps__step3__slide2,
.working__steps__step3__slide3 {
  display: none;
} 

.working__steps__step1 .working__steps__step1__slide2 span,
.working__steps__step3 .working__steps__step3__slide3 span {
  top: 337px;
}

.working__steps__step1 .working__steps__step1__slide2 p,
.working__steps__step3 .working__steps__step3__slide3 p {
  top: 298px;
}

.working__steps__step2 .working__steps__step2__slide2 p,
.working__steps__step2 .working__steps__step2__slide3 p {
  top: 250px;
}

.working__steps__step2 .working__steps__step2__slide2 span,
.working__steps__step2 .working__steps__step2__slide3 span {
  top: 319px;
}

.pictures_for_tablet {
  display: inline-block;
}

.working__steps__step1 {
  margin: 0px 0% 0px 1.2%;
  width: 30.3%;
}

.working__steps__step1__picture {
  width: 100%;
  height: 400.75px;
}

.working__steps__step2 {
  margin: 0px 0% 0px 2.5%;
  width: 30.3%;
}

.working__steps__step2__picture {
  width: 100%;
  height: 400.75px;
}

.working__steps__step3 {
  margin: 0px 0% 0px 2.5%;
  width: 30.3%;
}

.working__steps__step3__picture {
  width: 100%;
  height: 400.75px;
}

.working__steps__step1__div,
.working__steps__step2__div,
.working__steps__step3__div,
.working__steps div p,
.working__steps div span {
  position: absolute;
  color: white;
}

.working__steps__step1__left_arrow {
  position: absolute;
  left: 9%;
  top: 40px;
}

.working__steps__step1__right_arrow {
  position: absolute;
  left: 78%;
  top: 40px;
}

.working__steps__step1__div {
  left: 10%;
  top: 213px;
  font-family: 'montserratregular';
  letter-spacing: 2px;
  font-size: 10px;
  padding: 5px 4% 4.5px 4.3%;
  background-color: #ff4e50;
  border: 1px solid #ff4e50;
  border-radius: 12px;
}

.working__steps__step1 p {
  left: 7.5%;
  top: 250px;
  font-size: 24px;
  line-height: 28px;
}

.working__steps__step1 span {
  left: 8%;
  top: 319px;
  font-family: 'robotolight';
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.2px;
}

.working__steps__step2__left_arrow {
  position: absolute;
  left: 4%;
  top: 40px;
}

.working__steps__step2__right_arrow {
  position: absolute;
  left: 83%;
  top: 40px;
}

.working__steps__step2__div {
  left: 9.5%;
  top: 260px;
  font-family: 'montserratregular';
  letter-spacing: 2px;
  font-size: 10px;
  padding: 5px 3.5% 4.5px 4.3%;
  background-color: #ff4e50;
  border: 1px solid #ff4e50;
  border-radius: 12px;
}

.working__steps__step2 p {
  left: 8%;
  top: 298px;
  font-size: 24px;
}

.working__steps__step2 span {
  left: 8.5%;
  top: 337px;
  font-family: 'robotolight';
  font-size: 14px;
  line-height: 15.5px;
  letter-spacing: 0.25px;
}

.working__steps__step3__left_arrow {
  position: absolute;
  left: 9%;
  top: 40px;
}

.working__steps__step3__right_arrow {
  position: absolute;
  left: 78%;
  top: 40px;
}

.working__steps__step3__div {
  left: 10%;
  top: 213px;
  font-family: 'montserratregular';
  letter-spacing: 2px;
  font-size: 10px;
  padding: 5px 4% 4.5px 4.3%;
  background-color: #ff4e50;
  border: 1px solid #ff4e50;
  border-radius: 12px;
}

.working__steps__step3 p {
  left: 7.5%;
  top: 250px;
  font-size: 24px;
  line-height: 28px;
}

.working__steps__step3 span {
  left: 8%;
  top: 319px;
  font-family: 'robotolight';
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.2px;
}


