
.partners {
  text-align: center;
}

.partners__title {
  margin: 50px 0% 30px 0%;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  display: inline-block;
  padding: 46px 24% 0px 21.6%;

}

.partners__container {
  margin: 0px 10.9% 0px 10.9%;
}

.partners__container__partner1 {
  width: 35%;
  margin: 5px 5% 5px 10.5%;
}

.partners__container__partner1__name {
  font-size: 14px;
  margin: 18px 0% 17px 0%;
}

.partners__container__partner1__slogan {
  font-size: 14px;
  margin: 5px 0% 5px -1%;
  font-family: 'robotolight';
}

.partners__container__partner2 {
  width: 37%;
  margin: 5px 0% 5px 1%;
}

.partners__container__partner2__name {
  font-size: 14px;
  margin: 18px 0% 17px 0%;
}

.partners__container__partner2__slogan {
  font-size: 14px;
  margin: 5px 0% 5px -1%;
  font-family: 'robotolight';
}

.partners__container__partner3 {
  width: 35%;
  margin: 47px 0% 5px 10.5%;
}

.partners__container__partner3__name {
  font-size: 14px;
  margin: 18px 0% 17px 0%;
}

.partners__container__partner3__slogan {
  font-size: 14px;
  margin: 5px 0% 5px -1%;
  font-family: 'robotolight';
  line-height: 16px;
}

.partners__container__partner4 {
  width: 32%;
  margin: 47px 0% 5px 8.5%;
}

.partners__container__partner4__name {
  font-size: 14px;
  margin: 18px 0% 17px 0%;
}

.partners__container__partner4__slogan {
  font-size: 14px;
  margin: 5px 0% 5px -1%;
  font-family: 'robotolight';
}

.partners__container__partner1,
.partners__container__partner2,
.partners__container__partner3,
.partners__container__partner4 {
  float: left;
}

.partners__button {
  margin: 39px 0% 37px -5%;
}

.partners__button__search {
  margin: 0px 25% 0px 27.8%;
  color: #ff4e50;
  font-size: 14px;
  text-align: center;
  padding: 10px 3.3% 10px 3.3%;
  border: 1px solid #ff4e50;
  border-radius: 25px;
  text-decoration: none;
}


